<div class="card-container">
  <mat-card class="item-card">
    <div class="card-layout">
      
      <!-- Text Content Left -->
      <div class="card-details">
        <mat-card-header>
          <mat-card-subtitle>{{ offer().title }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ offer().description }}</p>
        </mat-card-content>
      </div>

      <div>
        <mat-card-title class="item-price">{{ offer().price }} €</mat-card-title>
      </div>

      <!-- Price & Custom Reactive Checkbox Right -->
      <div class="card-actions-wrapper">
        <!-- Drop your custom component here -->
        <app-checkbox 
          label="Afegir" 
          (checkedChange)="onCheckboxToggle($event)">
        </app-checkbox>
      </div>

    </div>
  </mat-card>
</div>