<main class="overview-container">
  @if (offers().length === 0) {
    <div class="loading-spinner">
      <p>Carregant ofertes...</p>
    </div>
  } @else {
    <section class="cards-list">
      @for (offer of offers(); track offer.id) {
        <app-item-card 
          [offer]="offer"
          (selectionChange)="onCardSelectionChange(offer.id, $event)">
        </app-item-card>
      }
    </section>
  }
  
  <app-budget-summary [total]="totalBudget()"></app-budget-summary>

  <app-user-form (formSubmit)="onUserFormSubmit($event)"></app-user-form>

</main>

<footer>
</footer>