<section class="modal-container" role="dialog" aria-labelledby="modal-main-title" aria-modal="true">
  <div class="modal-header-wrapper">
    <h2 mat-dialog-title class="modal-title" id="modal-main-title">{{ data.title }}</h2>
    <button type="button" mat-icon-button (click)="close()" class="close-btn" aria-label="Tancar finestra emergent">
      <mat-icon aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="modal-body-content">
    <p>{{ data.description }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="modal-actions-panel">
    <button mat-flat-button (click)="close()" class="modal-confirm-btn" aria-label="Acceptar i tancar finestra">
      D'acord
    </button>
  </mat-dialog-actions>
</section>