<div class="modal-container">
  <div class="modal-header-wrapper">
    <h2 mat-dialog-title class="modal-title">{{ data.title }}</h2>
    <button type="button" mat-icon-button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="modal-body-content">
    <p>{{ data.description }}</p>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="modal-actions-panel">
    <button mat-flat-button (click)="close()" class="modal-confirm-btn">
      D'acord
    </button>
  </mat-dialog-actions>
</div>