<div class="quote-display-card">

  <div class="quote-col client-info">
    <h3>{{ quote().clientName }}</h3>
    <p class="meta-text">{{ quote().clientEmail }}</p>
    <p class="meta-text">{{ quote().clientPhone }}</p>
  </div>

  <div class="quote-col services-info">
    <h4>Serveis contractats:</h4>
    <ul>
      @for (service of quote().services; track service.name) {
        <li>
          • {{ service.name }} 
          @if (service.details) {
            <span class="service-details">({{ service.details }})</span>
          }
        </li>
      }
    </ul>
  </div>

  <div class="quote-col financial-info">
    <span class="total-label">Total:</span>
    <div class="total-price">
      {{ quote().totalPrice }}<span class="currency"> €</span>
    </div>
  </div>
</div>